<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../static/error.css">
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<body>
	
<h2 class="center"> Oops! That username already exists! Please go back to the sign-up page. </h2>
<div class="center">
<button class="space btn btn-default"><a class="active" href="/signup">Go Back</a></button>
</div>

</body>