<!DOCTYPE html>

<head>
	<title></title>

	 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 	 <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 	 <link href="../static/app.css" rel="stylesheet">


</head>

<body>
	<div class="container">
	<nav class="navbar box">
	<div class="font-nav">
	<div class="navbar-header"><a class="navbar-brand">Incubator</a></div>
	</div>
				<ul class="nav nav-pills">
					<button class="nav-item space btn navbar-btn"><a class="nav-link active" href="/">Home</a></button>
					<button class="nav-item btn navbar-btn"><a class="nav-link active" href="/signin">Sign in</a></button>
				</ul>
				</nav>
		<div class = "jumbotron">
			<div class="center">
				<h1>A new way to share ideas.</h1>
				<p class="lead"></p>
				<div class="center2">
           		<p class="btn btn-lg btn-success" role="button"><a class="black" href="/signup">Sign up today </a></p>
           		</div>
           		</div>
        <img src="https://static.pexels.com/photos/269923/pexels-photo-269923.jpeg" alt = "Image" class="resize fadeImage" />
        </div>
        <div class="col-lg-6">
        	<h4>A community of ideas</h4>
        	<p> Incubator is a website community exclusivly devoted to brainstorming by subject. Write, calculate, draw; brainstorm within your favorite subject with individuals from all over the world.</p>
        </div>
		</div>

		<footer class="footer gray">
			<p>&copy; N.Rosenau 2017</p>
		</footer>



	</div>




</body>
